{% extends 'Admin/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

{% import "Admin/_components/macros.html" as macros %}
{{macros.breadcrumb(title)}}
{{macros.alert()}}


<div class="row">
  <div class="col-md-12 mb-2">
    <div class="card">
      <div class="card-header">
        <a href="{{url_for( module + '.index')}}" class="btn btn-danger mb-2">
          <i class="mdi mdi-back"></i> Kembali
        </a>
      </div>
      <div class="card-body">

        <form action="{{url_for(module + '.update', id=model.id)}}" class="form" method="post"
          onsubmit="return confirm('Apakah Anda Yakin ?')" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <div class="form-group">
            <label for="judul">Judul</label>
            <input type="text" class="form-control" name="judul" value="{{ model.judul }}" required>
          </div>

          <div class="form-group">
            <label for="isi">Isi</label>
            <textarea rows="5" class="form-control" name="isi">{{ model.isi }}</textarea>
          </div>

          <div class="form-group">
            <label for="kategori">Kategori</label>
            <select class="form-control" name="kategoriId">
              <option value="">-- Pilih Kategori --</option>
              {% for category in categories %}
              <option value="{{category.id}}" {% if model.kategoriId == category.id %} selected {% endif %}>
                {{category.name}}
              </option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">
              <i class="ion ion-md-save"></i>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}